%h3 Personal Information
.form-inline.form-generic
  = form_for(current_user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %h4 Contact Information
    %div
      =f.text_field :first_name, :class => 'form-control first-field', :placeholder => 'First Name'
      =f.text_field :last_name, :class => 'form-control middle-field', :placeholder => 'Last Name'
      =f.text_field :phone, :class => 'form-control middle-field', :placeholder => 'Phone Number'
      = f.email_field :email, :autofocus => true, :class => 'form-control last-field'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    %h4 Reset Password
    %div
      = f.password_field :password, :autocomplete => "off", :class => 'form-control first-field', :placeholder => 'New Password (blank if not desired)'
    %div
      = f.password_field :password_confirmation, :class => 'form-control last-field', :placeholder => 'Confirm New Password'
    %br
    %div
      = f.password_field :current_password, :class => 'form-control', :placeholder => 'Current Password (required)'
    %br
    %br
    %button.btn.btn-lg.btn-block.btn-primary{:type => 'submit'}Save
= link_to "Back", :back
