%div.form-generic.form-signup
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => 'form-signin') do |f|
    = devise_error_messages!
    =f.text_field :first_name, :autofocus => true, :class => 'form-control first-field', :placeholder => 'First Name'
    =f.text_field :last_name, :class => 'form-control middle-field', :placeholder => 'Last Name'
    =f.text_field :phone, :class => 'form-control middle-field', :placeholder => 'Phone Number'
    = f.email_field :email, :class => 'form-control middle-field', :placeholder => 'Email'
    = f.password_field :password, :class => 'form-control middle-field', :placeholder => 'Password'
    = f.password_field :password_confirmation, :class => 'form-control last-field', :placeholder => 'Password (confirm)'
    %div.form-group
      %button.btn.btn-lg.btn-block.btn-primary{:type => 'submit'}Sign Up
  = render "devise/shared/links"
