%div.form-inline.form-generic
  %h4 Create a New Listing
  %label Storage Type 
  =form_for @listing do |f|
    %div.form-group
      %select.form-control{:name => 'listing[storage_type]'}
        %option{:value => 'Closet'}Closet 
        %option{:value => 'Bedroom'}Bedroom
        %option{:value => 'Living Room'}Living Room
    %div.form-group
      =f.text_field :width, :class => 'form-control', :placeholder => 'Width (ft)'
      x
      =f.text_field :length, :class => 'form-control', :placeholder => 'Length (ft)'
    %br
    %br
    %label Location 
    %br
    %div.form-group
      =f.text_field :street_address, :class => 'form-control', :placeholder => 'Street Address'
      ,
      =f.text_field :city, :class => 'form-control', :placeholder => 'City'
      %br
      =f.text_field :state, :class => 'form-control', :placeholder => 'State'
      ,
      =f.text_field :zip_code, :class => 'form-control', :placeholder => 'Zip Code'
    %br
    %br
    %label Pricing
    %br
    %div.form-group
      =f.text_field :price, :class => 'form-control', :placeholder => '$/mo.'
    %br
    %br
    %div.form-group.col-sm-offset-9
      - if user_signed_in?
        %button.btn.btn-default{:type => 'submit'}Submit
      - else
        %a.btn.btn-default Next
        
