.col-xs-3
  .list-group
    .list-group-item
      = form_tag listings_path, :method => :get do
        %label Filter by Storage Type
        %br
        - if params[:type] == 'None'
          = radio_button_tag(:type, 'None', :checked => true)
        - else
          = radio_button_tag(:type, 'None')
        = label_tag('None')
        %br
        - if params[:type] == 'Closet'
          = radio_button_tag(:type, 'Closet', :checked => true)
        - else
          = radio_button_tag(:type, 'Closet')
        = label_tag('Closet')
        %br
        - if params[:type] == 'Bedroom'
          = radio_button_tag(:type, 'Bedroom', :checked => true)
        - else
          = radio_button_tag(:type, 'Bedroom')
        = label_tag('Bedroom')
        %br
        - if params[:type] == 'Living Room'
          = radio_button_tag(:type, 'Living Room', :checked => true)
        - else
          = radio_button_tag(:type, 'Living Room')
        = label_tag('Living Room')
        %br
        %br
        %label Filter by Price/mo.
        .text-center
          %input.form-control{:type => 'text', :value => params[:low_price],:name => 'low_price', :placeholder => 'Low', :style => 'width: 70px; float: left; margin-right: 10px;'}
          %input.form-control{:type => 'text', :value => params[:high_price], :name => 'high_price', :placeholder => 'High', :style => 'width: 70px; float: left;'}
          .form-group
            = submit_tag 'Filter', name: nil, :class => 'btn btn-primary'
.col-xs-9
  = render 'shared/listings', listings: @listings
