%h3 #{@listing.width * @listing.length} sq ft Available @ #{@listing.street_address}, #{@listing.city}, #{@listing.state} #{@listing.zip_code}
%h4 
  By 
  = link_to "#{User.find(@listing.user_id).first_name}", User.find(@listing.user_id)
.col-xs-9
  .row
    .col-xs-6.col-md-3
      %a.thumbnail
        %img{:src => 'http://www.fakenamegenerator.com/dummyimage/171x180/CCCCCC/000000/1'}
    .col-xs-6.col-md-3
      %a.thumbnail
        %img{:src => 'http://www.fakenamegenerator.com/dummyimage/171x180/CCCCCC/000000/1'}
    .col-xs-6.col-md-3
      %a.thumbnail
        %img{:src => 'http://www.fakenamegenerator.com/dummyimage/171x180/CCCCCC/000000/1'}
    .col-xs-6.col-md-3
      %a.thumbnail
        %img{:src => 'http://www.fakenamegenerator.com/dummyimage/171x180/CCCCCC/000000/1'}
.col-xs-3
  %div.right.rent-box
    %h2="$#{@listing.price}/mo."
    = link_to "Rent This Unit", { action: "rent", id: @listing.id}, class: "btn btn-large btn-success"
    
- if @listing.rented?
  Sorry, this unit is already taken
- else
