%div.form-generic.form-forgotten
  %h2 Enter Your Email
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %div
      = f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email'
    %div.form-group
      %button.btn.btn-lg.btn-block.btn-primary{:type => 'submit'}Reset Password
  = render "devise/shared/links"
