%div.header
  %ul.nav.nav-pills.pull-right
    %li
      = link_to "List Space!", new_listing_path
    - if user_signed_in?
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown'}
          - if current_user.first_name != ""
            #{current_user.first_name}
          - else
            Profile
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Profile", user_index_path
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "Login", new_user_session_path
      %li
        = link_to "Sign Up", new_user_registration_path
  %h1.logo 
    %a{:href => '/'}Storage Startup 
  %hr
