-# Should always be called with a local variable 'listings'
- if @listings.nil? or @listings.empty?
  %h3 No listings available.
  = link_to "Add One", new_listing_path
- else
  -listings.each do |listing|
    %div.listing-box
      %div.left
        = link_to listing do
          %h3.listing-heading=listing.to_s
        %p.listing-description
          #{listing.storage_type} available by 
          = link_to "#{User.find(listing.user_id).first_name}", User.find(listing.user_id)
      %div.right
        %h3="$#{listing.price}/mo."
