-# Should always be called with a local variable 'rentals'
- if rentals.nil? or rentals.empty?
  %h3 You're not currently renting any property
  = link_to "Find some space!", root_path
- else
  -rentals.each do |rental|
    %div.listing-box
      %div.left
        %h3.listing-heading="#{rental.width * rental.length} sq ft @ #{rental.street_address}, #{rental.city}, #{rental.state} #{rental.zip_code}"
        %p.listing-description="#{rental.storage_type}"
      %div.right
        %h3="$#{rental.price}/mo."
