%div.form-generic.form-signin
  %h2 Please sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, :autofocus => true, :class => 'form-control first-field', :placeholder => 'Email Address'
    = f.password_field :password, :class => 'form-control last-field', :placeholder => 'Password'
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me, :class => 'form-control'
        = f.label :remember_me
    %div.form-group
      %button.btn.btn-lg.btn-block.btn-primary{:type => 'submit'}Sign In
  = render "devise/shared/links"
