- if signed_in? and current_user.id == @user_inspecting.id
  .col-xs-3
    .list-group
      %a.spaces-tab.list-group-item.active Your Spaces 
      %a.information-tab.list-group-item Personal Information 
- if signed_in? and current_user.id == @user_inspecting.id
  .col-xs-9
    .spaces-view
      - if signed_in? and current_user.id == @user_inspecting.id
        .text-center
          %button.listings-btn.btn.btn-primary.btn-lg.active Listed
          %button.renting-btn.btn.btn-default.btn-lg Renting
      .spaces-listed
        %br
        = render 'shared/listings', listings: @listings
      .spaces-rented
        %br
        = render 'shared/listings', listings: @listings
        - if signed_in? and current_user.id == @user_inspecting.id
          = render 'shared/rentals', rentals: @renting
    .information-view
      = render 'devise/registrations/edit' 
- else
  .col-xs-12
    .spaces-listed
      %h4 Listings 
      = render 'shared/listings', listings: @listings
