%div.jumbotron
  %h4 Storage Startup is the best place online to convienently find affordable storage and rent it to others. 
  %form.form-inline{:action => listings_path, :method => 'get'}
    .form-group
      =text_field_tag :search, params[:search], :style => 'width: 250px;', :placeholder => 'Where are you looking for space?', :class => 'form-control'
    %button.btn.btn-default{:type => 'submit'}Search
  %h4 - OR -
  %a.btn.btn-primary{:href => new_listing_path}List a New Space!
