/* ALL */
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* HOMEPAGE */
.jumbotron {
  text-align: center;
}

/* FORMS */
.form-generic {
  max-width: 400px;
  margin: 0px auto;
}

.form-generic input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-top: 2px;
}

.form-generic .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
}

.first-field {
  margin-bottom: -1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.middle-field {
  margin-bottom: -1px;
  border-radius: 0px; 
}

.last-field {
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* FORGOTTEN PASSWORD FORM */
.form-forgotten input[type="email"] {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

/* LISTINGS */
h3.listing-heading {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.listing-box {
  margin-bottom: 15px;
  padding: 20px;
  background: #EDE6F7;
  min-height: 150px;
}

.listing-box .left {
  width: 680px;
}

.listing-box .right {
  width: 100px;
}

.listing-description {
  font-size: 20;
}

/* LISTINGS FORM */
#new_listing .form-group input, #new_listing .form-group select {
  margin-bottom: 5px;
}

#listing_street_address {
  width: 200px;
}

#listing_width, #listing_length, #listing_city, #listing_state, #listing_zip_code {
  width: 100px;
}

#listing_price {
  width: 65px;
}

/* SHOW LISTING */
.rent-box {
  background: #f1f1f1;
  width: 200px;
  height: 200px;
  padding-top: 40px;
  padding-left: 15px;
  text-align: center;
  border-radius: 15px;
}
