%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "jquery-1.10.2.min.js"
    %script{:src => "/js/main.js", :type => "text/javascript"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %title= "Storage Startup | #{@title}"
  %body
    #wrap
      .container
        = render "shared/header"
        - if flash[:notice]
          .flash-notice #{flash[:notice]}
        - if flash[:alert]
          .flash-error #{flash[:alert]}
        = yield 
    .footer 
      .container
        %br
        %p.text-muted
          © Storage Startup 2013 
